<section class="header">
  <div class="header__logo">
    <img src="../../../assets/whee.png" alt="" srcset="">
  </div>
  <div class="header__slogan">
    <h4>The most definitive shape store in the world</h4>
  </div>
  <div class="header__cart">
    <div class="cart" (click)="openCart()">
      <div class="cart__items">
        {{this.cartService.itemsInCart > 0 ? this.cartService.itemsInCart + ' items' : 'No items in cart' }}
      </div>
      <div class="cart__icon">
        <button mat-icon-button>
          <mat-icon>shopping_cart</mat-icon>
        </button>

      </div>
    </div>
  </div>

</section>


